.btn {
  width: 280px;
  font-weight: bold;
  font-size: 18px;
  margin: 0 auto;
  padding: 15px;
  cursor: pointer;
  border: 2px solid #cecece;
  background: #f6f6f6;
  border-radius: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.btn--post-submit {
  margin-bottom: 9px;
  border-color: #d22856;
  color: #d22856;
  background-color: inherit;
}

.btn--post-reset {
  background-color: inherit;
  border-color: #dddfe0;
  color: rgba(40, 54, 69, 0.1);
}

// TABLET min-width:660px /////////////////////////////////////////
@media (min-width: 660px) {
  .btn {
    width: 257px;
  }

  .btn--post-submit {
    margin-left: 19px;
    margin-bottom: 21px;
  }

  .btn--post-reset {
    margin-left: 19px;
  }
} //min-width: 660px
// DESCTOP min-width:1200px /////////////////////////////////////////
@media (min-width: 960px) {
  .btn {
    width: 185px;
    margin: 0;
  }

  .btn--post-submit {
    position: relative;
    left: -20px;
    padding: 13px 0;
    top: -3px;
  }

  .btn--post-reset {
    margin-left: 56px;
    position: relative;
    left: -37px;
    padding: 13px 0;
  }
} //min-width: 1200px
