.burger {
  margin-top: 20px;
  width: 50px;
  height: 24px;
  border: none;
  background: url("../img/icon-menu-burger.svg") center center no-repeat;
}

.burger--open {
  width: 24px;
  height: 23px;
  background: url("../img/icon-menu-cross.svg") center center no-repeat;
}

.burger--nojs {
  display: none;
}
@media (min-width: 660px) {
  .burger {
    margin-top: 45px;
  }
}

@media (min-width: 960px) {
  .burger {
    display: none;
  }
}
