.checkboxes {
  display: block;
  margin: 0 auto;
  height: 605px;
  background-color: #f2f2f2;
  margin-bottom: 13px;
}

.checkboxes__title {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $cerise;
  text-align: center;
  width: 220px;
  padding-top: 42px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.checkboxes-block {
  display: flex;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 53px;
}

.checkboxes__text {
  font-size: 18px;
  color: $midnight;
  line-height: 30px;
  margin-left: 70px;
  cursor: pointer;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -69px;
    z-index: 1;
    width: 39px;
    height: 39px;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    border-radius: 1px;
    cursor: pointer;
  }
}

.checkboxes__text:hover::before {
  border: 2px solid #283645;
  transition: 0.2s;
}

.checkboxes__text:active::before {
  border: 2px solid #d22856;
  transition: 0.2s;
}

input:checked + .checkboxes__text::after {
  position: absolute;
  content: "";
  top: 0;
  left: -65px;
  z-index: 1;
  width: 29px;
  height: 29px;
  background: url("..//img/icon-yes.svg") center no-repeat;
  cursor: pointer;
}

.visually-hidden:focus + .checkboxes__text {
  outline: 1px solid blue;
}

fieldset {
  border: none;
  font-size: 0;
}

.checkboxes__legend {
  color: $cerise;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

// TABLET min-width: 660px /////////////////////////////////////////////
@media (min-width: 660px) {
  .checkboxes__title {
    display: none;
  }

  .checkboxes {
    order: 4;
    width: 620px;
    height: 575px;
    background: none;
    margin-bottom: 43px;
  }

  .checkboxes__fieldset {
    border: 2px solid #e5e5e5;
    font-size: 15px;
    border-radius: 3px;
    height: 565px;
  }

  .checkboxes__legend {
    font-size: 14px;
  }

  .checkboxes-block {
    margin-top: 39px;
    margin-left: 45px;
  }

  .checkboxes__text {
    font-size: 18px;
    color: $midnight;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin-left: 59px;
    cursor: pointer;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -5px;
      left: -58px;
      z-index: 1;
      width: 39px;
      height: 39px;
      border: 2px solid #e5e5e5;
      background-color: #ffffff;
      border-radius: 1px;
      cursor: pointer;
    }
  }

  input:checked + .checkboxes__text::after {
    position: absolute;
    content: "";
    top: 0;
    left: -54px;
    z-index: 1;
    width: 29px;
    height: 29px;
    background: url("..//img/icon-yes.svg") center no-repeat;
    cursor: pointer;
  }
} //min-width: 660px
// DESCTOP min-width: 1200px /////////////////////////////////////////////
@media (min-width: 960px) {
  .checkboxes {
    width: 940px;
    height: 220px;
    margin-bottom: 78px;
  }

  .checkboxes__flex {
    width: 825px;
    height: 200px;
    margin: 0 auto;
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .checkboxes__fieldset {
    height: 243px;
    width: 940px;
    margin-left: 0;
  }

  .checkboxes-block {
    margin: 0;
    height: 80px;
    width: 270px;
  }

  .checkboxes-block:nth-child(1) {
    margin-right: 47px;
  }

  .checkboxes-block:nth-child(3) {
    margin-right: 26px;
  }
} //min-width: 1200px
