.comment {
  margin-bottom: 37px;
}

.comment__text {
  font-size: 14px;
  line-height: 30px;
  color: $cerise;
  text-transform: uppercase;
}

.comment__size {
  width: 280px;
  height: 200px;
  resize: none;
  padding-top: 23px;
  padding-left: 18px;
  padding-right: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  margin-top: 8px;
}

.comment__block-emotion {
  width: 280px;
  margin: 0 auto;
}

.comment__legend {
  color: $cerise;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 0 30px;
}

.comment__size[placeholder] {
  font-family: "Open Sans";
  padding-left: 20px;
  padding-top: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: $midnight;
}

.comment__fieldset {
  border: none;
  font-size: 0;
}
// TABLET min-width: 660px /////////////////////////////////////////////
@media (min-width: 660px) {
  .comment__text {
    display: none;
  }

  .comment {
    order: 5;
    margin: 0 auto;
    margin-bottom: 61px;
    width: 620px;
    height: 310px;
  }

  .comment__fieldset {
    border: 2px solid #e5e5e5;
    font-size: 15px;
    border-radius: 3px;
    height: 303px;
  }

  .comment__block-emotion {
    width: 500px;
    margin: 0 auto;
    margin-left: 57px;
  }

  .comment__size {
    width: 500px;
    height: 190px;
    margin-left: -27px;
    margin-top: 30px;
    padding-top: 13px;
  }
} //min-width: 660px
// DESCTOP min-width: 1200px ///////////////////////
@media (min-width: 960px) {
  .comment {
    width: 940px;
    height: 230px;
  }

  .comment__fieldset {
    width: 940px;
    height: 230px;
  }

  .comment__legend {
    font-size: 14px;
  }

  .comment__size {
    width: 816px;
    height: 129px;
    margin-top: 25px;
    margin-left: -10px;
  }
}
