@media (min-width: 660px) {
  .container--footer {
    margin: 0 auto;
    width: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
} //min-width: 660px

@media (min-width: 960px) {
  .container {
    margin: 0 auto;
    width: 960px;
  }

  .container--flex {
    margin: 0 auto;
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container--footer {
    margin: 0 auto;
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
} //min-width: 1200px
