.form {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 55px;

}

.form__bg {
  background: url("..//img/bg-back-mobile@1x.jpg") no-repeat;
  width: 320px;
  height: 170px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 43px;
}


.form__title {
  padding-top: 27px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $white;
  margin: 0 auto;
  width: 235px;
}



.form__title-text {
  font-size: 14px;
  color: $midnight;
  line-height: 30px;
  width: 280px;
  margin: 0 auto;
  letter-spacing: 0.02em;
  margin-bottom: 39px;

}

[placeholder] {
  font-size: 18px;
  line-height: 30px;
  color: $midnight;
}

.form__submit-span {
  display: none;
}

// TABLET min-width: 660px /////////////////////////////////////////////

@media (min-width: 660px) {
  .form {
    margin-bottom: 70px;
  }


  .form__bg {
    background: url("..//img/bg-back-tablet@1x.jpg")center no-repeat;
    background-size: 1200px 729px;
    width: 100%;
    height: 331px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 93px;
  }

  .form__title-text {
    font-size: 18px;
    width: 495px;
    margin-bottom: 66px;
  }

  fieldset {
    border: 2px solid #e5e5e5;
    font-size: 15px;
    border-radius: 3px;
  }



  .checkboxes__legend,
  .radio__legend,
  .user-contacts__legend,
  .comment__legend {
    color: $cerise;
    text-transform: uppercase;
    text-align: center;
  }

  .form__title {
    font-size: 50px;
    line-height: 59px;
    width: 490px;
    padding-top: 73px;
  }

  .form__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .form__submit-span {
    display: inline-block;
  }


}// min-width: 660px

// DESCTOP min-width: 1200px /////////////////////////////////////////////

@media (min-width: 1200px) {

  .form {
    margin-bottom: 50px;
  }


  .form__bg {
    background: url("..//img/bg-back-desktop@1x.jpg")center no-repeat;
    background-size: 2560px 853px;
    width: 100%;
    height: 395px;
    margin: 0 auto;
    margin-bottom: 93px;
    display: flex;
    align-items: center;
  }

  .form__title {
    padding-top: 70px;
    font-size: 50px;
    line-height: 63px;
    width: 760px;
  }

  .form__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: inherit;
    margin-top: 65px;

  }


  .form__title-text {
    width: 765px;
    margin: 0 auto;
    margin-bottom: 20px;

  }


}// min-width: 1200px
