.full-name {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 37px;
}

.full-name__name {
  font-size: 14px;
  color: $cerise;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 22px;
}

.full-name__size {
  margin-top: 7px;
  width: 280px;
  height: 62px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  outline: none;

  &:hover {
    border: 2px solid #283645;
    transition: 0.2s;
  }

  &:focus {
    border: 2px solid #d22856;
  }
}

.full-name__size[placeholder] {
  padding-left: 20px;
  font-size: 18px;
  line-height: 30px;
  color: $midnight;
}

.full-name__field {
  text-align: left;
  margin-bottom: 17px;
}

// TABLET min-width: 660px///////////////////////////////////
@media (min-width: 660px) {
  .full-name {
    width: 620px;
    order: 1;
    margin-bottom: 0;
  }

  .full-name__field {
    display: flex;
    height: 65px;
    margin: 0 auto;
    margin-bottom: 51px;
  }

  .full-name__name {
    flex-grow: 1;
    width: auto;
    padding: 0;
    padding-top: 17px;
  }

  .full-name__size {
    margin-top: 0;
    width: 482px;
    flex-grow: 4;
  }
} //min-width: 660px
//DESCTOP min-width: 1200px///////////////////////////////////
@media (min-width: 960px) {
  .full-name {
    width: 470px;
    margin: 0 auto;
    margin-top: 16px;
    margin-left: 9px;
  }

  .full-name__name {
    margin-right: 19px;
  }

  .full-name__size {
    margin-right: 34px;
  }
} //min-width: 1200px
