.gallery {
  text-align: center;
  margin-bottom: 61px;
}

.gallery__bg {
  background: url("../img/bg-back-mobile@1x.jpg") center no-repeat;
  height: 171px;
  margin: 0 auto;
  margin-bottom: 46px;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 100% auto;
  }
}

.gallery__title {
  font-size: 24px;
  font-weight: 300;
  color: $white;
  margin: 0 auto;
  width: 175px;
  padding-top: 29px;
  line-height: 31px;
}

.gallery__sub-title {
  font-size: 14px;
  line-height: 30px;
  color: $midnight;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.gallery__list {
  padding: 0;
}

.gallery__list-first {
  padding: 0;
}

.gallery-item {
  list-style: none;
  margin: 0 auto;
  margin-bottom: 40px;
}

.gallery-item-first {
  list-style: none;
  margin: 0 auto;
}

.gallery__item-user-name.first {
  font-size: 14px;
  font-weight: 700;
  color: $midnight;
  margin-top: 8px;
  margin-bottom: 0;
}

.gallery-item__user-name {
  font-size: 14px;
  font-weight: 700;
  color: $midnight;
  margin-top: 1px;
  margin-bottom: 0;
}

.gallery__item-user-time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  color: $midnight;
}

.gallery__item-text-first {
  font-size: 14px;
  color: $midnight;
  margin-top: 0;
  margin-bottom: 8px;
  // height: 90px;
}

.gallery-item__text {
  font-size: 14px;
  color: $midnight;
  margin-top: 0;
  margin-bottom: 9px;
}

.gallery-item__like {
  margin-left: 20px;
  font-size: 12px;
  color: $cerise;
  text-transform: uppercase;
  border: none;
  list-style: none;
  background: none;
  cursor: pointer;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 1px;
    left: -20px;
    z-index: 1;
    background: url("../img/icon-heart.svg") center no-repeat;
    background-size: 13px 12px;
    width: 13px;
    height: 12px;
  }
}

.gallery__item-like-first {
  margin-left: 20px;
  font-size: 12px;
  color: $cerise;
  text-transform: uppercase;
  border: none;
  list-style: none;
  background: none;
  cursor: pointer;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 1px;
    left: -20px;
    z-index: 1;
    background: url("../img/icon-heart.svg") center no-repeat;
    background-size: 13px 12px;
    width: 13px;
    height: 12px;
  }
}

.gallery-item__image {
  display: block;
  margin: 0 auto;
}

.gallery__item-image-first {
  width: 320px;
  height: 137px;
  display: block;
  margin: 0 auto;
}

.gallery-item__bg {
  margin: 0 auto;
  width: 280px;
  background-color: #f2f2f2;
  text-align: left;
  padding-top: 18px;
  padding-left: 19px;
  padding-right: 41px;
  // padding-bottom: 25px;
}

.gallery__item-bg-first {
  background-color: #f2f2f2;
  text-align: left;
  padding-top: 10px;
  padding-left: 18px;
  padding-right: 20px;
  padding-bottom: 25px;
  margin: 0 auto;
  margin-bottom: 0;
  width: 280px;
  height: 193px;
}

// TABLET min-width: 660px////////////////////////////////////////
@media (min-width: 660px) {
  .gallery {
    margin-bottom: -4px;
  }

  .gallery__bg {
    background: url("../img/bg-back-tablet@1x.jpg") top no-repeat;
    background-size: 100% auto;
    height: 330px;
    margin: 0 auto;
    margin-bottom: 93px;
    display: flex;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 100% auto;
    }
  }

  .gallery__title {
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    width: 390px;
    line-height: 59px;
    padding-top: 71px;
  }

  .gallery__sub-title {
    margin-bottom: 76px;
    width: 450px;
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    margin: 0 auto;
    margin-bottom: 51px;
  }

  .gallery-item {
    margin-bottom: 20px;
    margin-left: 21px;
    margin-right: -1px;
  }

  .gallery-item__text {
    height: 50px;
  }

  .gallery__item-text-first {
    height: 40px;
    order: 3;
  }

  .gallery__item-image-first {
    width: 700px;
    height: 509px;
  }

  .gallery__item-first {
    margin-bottom: 51px;
  }

  .gallery__item-user-name.first {
    width: 330px;
    order: 1;
    flex-grow: 2;
  }

  .gallery__item-like-first {
    width: 150px;
    order: 2;
    flex-grow: 1;
    margin-top: 16px;
    margin-left: 55px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 140px;
      z-index: 1;
      background: url("../img/icon-heart.svg") center no-repeat;
      background-size: 13px 12px;
      width: 13px;
      height: 12px;
    }
  }

  .gallery-item__like {
    margin: 0;
    padding: 0;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 228px;
      z-index: 1;
      background: url("../img/icon-heart.svg") center no-repeat;
      background-size: 13px 12px;
      width: 13px;
      height: 12px;
    }
  }

  .gallery-item__image {
    width: 300px;
    height: 300px;
  }

  .gallery-item__bg {
    width: 300px;
    height: 155px;
    padding-top: 22px;
    padding-left: 26px;
  }

  .gallery__item-bg-first {
    width: 620px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 14px;
    padding-left: 27px;
  }
} //*min-width: 660px
// DESCTOP min-width: 1200px////////////////////////////////////////
@media (min-width: 1200px) {
  .gallery__bg {
    background: url("../img/bg-back-desktop@1x.jpg") top no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 395px;
    margin: 0 auto;
    margin-bottom: 92px;
    display: flex;
    align-items: center;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 100% auto;
    }
  }

  .gallery__sub-title {
    width: 585px;
    margin-bottom: 87px;
  }

  .gallery__list {
    width: 100%;
  }

  .gallery__item-image-first {
    width: 1200px;
    height: 506;
  }

  .gallery-item__image {
    width: 300px;
    height: 400px;
  }

  .gallery__item-bg-first {
    width: 940px;
    height: 96px;
  }

  .gallery__item-text-first {
    height: 20px;
    letter-spacing: 0.02em;
  }

  .gallery__item-first {
    margin-bottom: 48px;
  }

  .gallery-item {
    margin: 0 auto;
    margin-bottom: 53px;
  }

  .gallery__item-like-first {
    padding-left: 106px;
    margin-top: 8px;
    position: relative;

    &::before {
      top: 5px;
      left: 245px;
    }
  }
} //min-width: 1200px
