.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  text-decoration: none;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    color: $cerise;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav__item {
  padding-top: 18px;
  padding-bottom: 19px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid $black;
}

//* TABLE min-width: 660px/////////////////////////////////////////////////
@media (min-width: 660px) {
  .main-nav__item-tablet {
    padding-top: 19px;
    padding-bottom: 18px;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000000;
  }
} //min-width: 660px
//* DESCTOP min-width: 1200px/////////////////////////////////////////////////
@media (min-width: 960px) {
  .main-nav__link {
    text-decoration: none;
    color: $white;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 0.03em;
  }

  .main-nav__link.current {
    padding-bottom: 9px;
    border-bottom: 2px solid #ffffff;

    &:hover {
      border-bottom: 2px solid $cerise;
    }

    &:active {
      border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    }
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    min-width: 630px;
    flex-wrap: wrap;
    padding-right: 9px;
  }

  .main-nav__item {
    border: none;
    padding-left: 0;
  }

  .main-nav {
    width: 633px;
  }
} //*min-width: 1200px
