.price {
  position: relative;
  height: 471px;

  &::before {
    position: absolute;
    content: "";
    top: -90px;
    left: 0;
    z-index: -1;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
  }
}

.price__value-desctop {
  display: none;
}

.price__cell-desctop {
  display: none;
}

.price__wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 44px;
}

.price__list {
  margin: 0 auto;
  margin-left: -260px;
  width: 840px;
  // border-collapse: collapse;
  border-spacing: 0;
}

.price__item {
  width: 280px;
}

.price__value {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  line-height: 30px;
  background-color: $midnight;
  width: 250px;
  height: 99px;
  padding: 0 75px;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;

  span {
    font-size: 24px;
    font-weight: 300;
  }
}

.price__value-hit {
  position: relative;

  &::before {
    position: absolute;
    content: "Хит";
    top: 11px;
    left: -30px;
    z-index: 2;
    transform: rotate(-46deg);
    font-size: 14px;
    font-weight: 300;
    background-size: 72px 25px;
    width: 105px;
    height: 29px;
    text-align: center;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -2px;
    z-index: 1;
    background: url("../img/bg-hit.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 74px;
    height: 73px;
  }
}

.price__cell {
  font-size: 14px;
  text-transform: uppercase;
  color: $midnight;
  width: 150px;
  height: 60px;
  padding-left: 23px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.price__cell-yes {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 19px;
    left: 229px;
    z-index: 1;
    background: url("../img/icon-yes.svg") center no-repeat;
    background-size: 31px 21px;
    width: 31px;
    height: 21px;
  }
}

.price__cell-no {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 16px;
    left: 231px;
    z-index: 1;
    background: url("../img/icon-no.svg") center no-repeat;
    background-size: 27px 26px;
    width: 27px;
    height: 26px;
  }
}

.price__btn {
  display: flex;
  justify-content: space-between;
  width: 50px;
  margin: 0 auto;
}

.price__btn-slider {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -2px;
    z-index: 1;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #bec2c7;
  }
}

.price__btn-slider.current {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -6px;
    z-index: 1;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: 3px solid #283645;
    border-radius: 10px;
  }
}

// TABLET min-width: 660px/////////////////////////////////////////
@media (min-width: 660px) {
  .price {
    margin-bottom: 114px;
    height: 377px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -90px;
      left: 0;
      z-index: -1;
      background-image: url("../img/bg-triangle-white.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      transform: rotate(180deg);
    }
  }

  .price__value-desctop {
    display: initial;
    border-left: none;
    border-right: none;
  }

  .price__list {
    padding: 0;
    margin: 0 auto;
    width: 620px;
  }

  .price__item {
    width: 155px;
  }

  .price__cell {
    width: 155px;
    height: 46px;
    padding: 0;
  }

  .price__value {
    height: 79px;
    padding: 0;
    font-size: 16px;
    width: 50px;

    span {
      display: block;
      font-size: 18px;
    }
  }

  .price__value-hit {
    position: relative;

    &::before {
      position: absolute;
      content: "Хит";
      top: 4px;
      left: -32px;
    }

    &::after {
      position: absolute;
      content: "";
      top: -6px;
      left: -8px;
      z-index: 1;
      background: url("../img/bg-hit-tablet.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 74px;
      height: 73px;
    }
  }

  .price__cell-text {
    display: none;
  }

  .price__cell-desctop {
    display: table-cell;
    width: 155px;
    font-size: 14px;
    text-transform: inherit;
    padding-left: 16px;
  }

  .price__cell-yes {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 12px;
      left: 63px;
      z-index: 1;
      background: url("../img/icon-yes.svg") center no-repeat;
      background-size: 31px 21px;
      width: 31px;
      height: 21px;
    }
  }

  .price__cell-no {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 10px;
      left: 65px;
      z-index: 1;
      background: url("../img/icon-no.svg") center no-repeat;
      background-size: 27px 26px;
      width: 27px;
      height: 26px;
    }
  }

  .price__btn {
    display: none;
  }
} //min-width: 660px
// DESCTOP min-width: 1200px/////////////////////////////////////////
@media (min-width: 960px) {
  .price {
    height: 525px;
    margin-bottom: 113px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -159px;
      left: 0;
      z-index: -1;
      background-image: url("../img/bg-triangle-white.svg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 535px;
      transform: rotate(180deg);
    }
  }

  .price__item {
    padding: 0;
    width: 100%;
    // display: flex;
  }

  .price__list {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 47px;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0;
  }

  .price__cell-desctop {
    font-size: 18px;
    padding-left: 25px;
  }

  .price__value-hit {
    position: relative;

    &::before {
      position: absolute;
      content: "Хит";
      top: 11px;
      left: -29px;
      z-index: 2;
      transform: rotate(-46deg);
      font-size: 14px;
      font-weight: 300;
      background-size: 72px 25px;
      width: 105px;
      height: 29px;
      text-align: center;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: -1px;
      z-index: 1;
      background: url("../img/bg-hit.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 74px;
      height: 73px;
    }
  }

  .price__value,
  .price__cell {
    flex-shrink: 0;
    width: 235px;
    flex-grow: 0;
  }

  .price__cell {
    height: 60px;
    padding: 15px 21px;
  }

  .price__cell-yes {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 25px;
      left: 100px;
      z-index: 1;
      background: url("../img/icon-yes.svg") center no-repeat;
      background-size: 31px 21px;
      width: 31px;
      height: 21px;
    }
  }

  .price__cell-no {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 21px;
      left: 103px;
      z-index: 1;
      background: url("../img/icon-no.svg") center no-repeat;
      background-size: 27px 26px;
      width: 27px;
      height: 26px;
    }
  }

  .price__value {
    font-size: 18px;
    height: 100px;
    width: 235px;
    padding: 16px 0;
  }

  .price__value span {
    display: block;
    font-size: 24px;
    width: 100%;
  }

  .price__value-desctop-first {
    display: block;
    visibility: hidden;
  }

  .price__list td,
  .price__list th {
    height: auto;
    width: 235px;

    &:first-of-type {
      width: 232px;
      font-size: 18px;
      padding-left: 22px;
      padding-top: 12px;
    }
  }

  .price__list th {
    padding: 15px 0 21px;
    text-align: center;
    height: auto;

    &:nth-child(2) span {
      padding-left: 5px;
    }
  }

  .price__list td {
    min-width: 233px;
    padding: 13px 24px 16px;
    line-height: 30px;
    border: 2px solid #e5e5e5;
  }
} //min-width: 960px
