.radio {
  height: 340px;
  background-color: #f2f2f2;
  margin-bottom: 12px;
}

.radio__title {
  font-size: 14px;
  font-weight: 300;
  color: $cerise;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  width: 280px;
  padding-top: 42px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.radio__list {
  width: 280px;
  margin: 0 auto;
  text-align: left;
}

.radio__list-item {
  margin-left: 20px;
  margin-bottom: 42px;
}

.radio__text {
  font-size: 18px;
  color: $midnight;
  line-height: 30px;
  margin-left: 50px;
  cursor: pointer;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -6px;
    left: -71px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border: 2px solid #e5e5e5;
    border-radius: 50px;
    background-color: #ffffff;
    cursor: pointer;
  }
}

.radio__text:hover::before {
  border-color: #283645;
  transition: 0.2s;
}

.radio__text:active::before {
  border-color: $cerise;
}

input[type="radio"]:checked + .radio__text::after {
  position: absolute;
  content: "";
  top: 6px;
  left: -58px;
  z-index: 2;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: #d22856;
  cursor: pointer;
}

.visually-hidden:focus + .radio__text {
  outline: 1px solid blue;
}

.radio__legend {
  color: $cerise;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 0 30px;
}

.radio__fieldset {
  border: none;
  font-size: 0;
}

// TABLET min-width: 660px /////////////////////////////////////////////
@media (min-width: 660px) {
  .radio__title {
    display: none;
  }

  .radio {
    background: none;
    order: 2;
    width: 620px;
    margin: 0 auto 24px;
  }

  .radio__fieldset {
    border: 2px solid #e5e5e5;
    font-size: 14px;
    border-radius: 3px;
    width: 620px;
    height: 310px;
  }

  .radio__list {
    width: 500px;
    margin-left: 57px;
    margin-top: 42px;
  }

  .radio__list-item {
    margin-top: 41px;
    margin-left: -2px;
    margin-bottom: 46px;
  }

  .radio__text {
    font-size: 18px;
    color: $midnight;
    line-height: 30px;
    margin-left: 50px;
    cursor: pointer;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -8px;
      left: -59px;
      z-index: 1;
      width: 40px;
      height: 40px;
      border: 2px solid #e5e5e5;
      border-radius: 50px;
      background-color: #ffffff;
      cursor: pointer;
    }
  }

  input[type="radio"]:checked + .radio__text::after {
    position: absolute;
    content: "";
    top: 4px;
    left: -47px;
    z-index: 2;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #d22856;
    cursor: pointer;
  }
} //min-width: 660px
// DESCTOP min-width: 1200px /////////////////////////////////////////////
@media (min-width: 960px) {
  .radio {
    width: 435px;
  }

  .radio__fieldset {
    width: 435px;
  }

  .radio__list {
    width: 300px;
    margin-top: 44px;
    margin-left: 76px;
  }

  .radio__list-item {
    margin-bottom: 45px;
  }
} //min-width: 1200px
