.checkboxes {
  display: block;
  text-align: left;
}

.checkboxes__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $cerise;
  text-align: center;
}

.checkboxes__text {
  font-size: 18px;
  color: $midnight;
  line-height: 30px;
}



// TABLET min-width: 660px /////////////////////////////////////////////

@media (min-width: 660px) {
  .checkboxes__title {
    display: none;
  }

  .checkboxes {
    order: 4;
  }



}//min-width: 660px



// DESCTOP min-width: 1200px /////////////////////////////////////////////

@media (min-width: 1200px) {

  .checkboxes {
    width: 940px;
  }


}//min-width: 1200px
