.contacts {
  text-align: center;
}

.contacts__text-title {
  font-size: 24px;
  font-weight: 300;
  color: $midnight;
}



.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;

}


.contacts__title {
  font-size: 18px;
  font-weight: 700;
  color: $midnight;
}

.contacts__link {
  text-decoration: none;
}

.contacts__text {
  font-size: 24px;
  color: $cerise;
}

.contacts__map {
  width: 100%;
  // position: relative;
  // &::before {
  //   position: absolute;
  //   content: "";
  //   background-color: #000;
  //   top: 0;
  //   left: 0;
  //   z-index: 10;
  //   width: 100%;
  //   height: 445px;
  //   clip-path: polygon(0% 0%, 100% 0, 100% 95%, 50% 100%, 0 95%);
  // }
}

// TABLE min-width:660px/////////////////////////////////////////////////////////


@media(min-width: 660px) {

  .contacts {
    height: 780px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 215px;
    margin: 0 auto;
  }
  .contacts__item:first-child{
  width: 50%;
  }

  .contacts__item:nth-child(2){
  width: 50%;
  }

  .contacts__text-title {
    font-size: 24px;
    font-weight: 300;
    color: $midnight;
  }



  .contacts__map {
    background: url("..//img/bg-map-tablet@1x.jpg")bottom no-repeat;
    background-size: 700px 848px;
    width: 100%;
    // height: 780px;
    // &::before {
    //   position: absolute;
    //   content: "";
    //   background-color: #fff;
    //   top: 0;
    //   left: 0;
    //   z-index: 2;
    //   width: 100%;
    //   height: 475px;
    //   clip-path: polygon(0% 0%, 100% 0, 100% 95%, 50% 100%, 0 95%);
    // }
  }


  .contacts__list {
    list-style: none;
    padding: 0;
    margin: 0;

  }
} //*min-width: 660px




// DESCTOP min-width: 1200px//////////////////////////////////////////////////


@media (min-width: 1200px) {
.contacts {
  height: 870px;
}

//   .contacts__text-title {
//     position: relative;
//     &::before {
//       position: absolute;
//       content: "";
//       top: 0;
//       left: 0;
//       z-index: -2;
//       background: url("..//img/bg-map-desktop@1x.jpg")center no-repeat;
//       background-size: 1200px 976px;
//       width: 100%;
//       height: 976px;
//     }
//  }

 .contacts__map {
  background: url("..//img/bg-map-desktop@1x.jpg")bottom no-repeat;
  background-size: 1200px 976px;
  width: 100%;
  // &::before {
  //   position: absolute;
  //   content: "";
  //   background-color: #fff;
  //   top: 0;
  //   left: 0;
  //   z-index: 2;
  //   width: 100%;
  //   height: 475px;
  //   clip-path: polygon(0% 0%, 100% 0, 100% 95%, 50% 100%, 0 95%);
  // }
}
}
