@media(min-width: 1200px){
  .container {
    margin: 0 auto;
    width: 960px;
  }

  .container-flex {
    margin: 0 auto;
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


