.descriotion__title, .description__sub-title {
  font-size: 24px;
  font-weight: 300;
  color: $midnight;
}

.description__list {
  list-style: none;
}


.description-item__title {
  font-size: 18px;
  color: $midnight;
  line-height: 10px;
}

.description__text {
  font-size: 14px;
  color: $midnight;
}
