// MOBILE

.description {
  height: 1000px;
  position: relative;
  margin: 0 auto;
  &::before {
    position: absolute;
    content: "";
    top: 50px;
    left: 0;
    z-index: -1;
    background-color: #f2f2f2;
    width: 100%;
    height: 785px;
    clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
  }
}


.description__title {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 515px;
    left: 80px;
    z-index: 1;
    background: url("..//img/iphone-screen-mobile@1x.png") no-repeat;
    background-size: 157px 320px;
    width: 157px;
    height: 320px;
  }
}


.description__title, .description__sub-title {
  font-size: 24px;
  font-weight: 300;
  color: $midnight;
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

.description__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;

}


.description-item__title {
  font-size: 18px;
  color: $midnight;
  line-height: 10px;
}

.description__text {
  font-size: 14px;
  color: $midnight;
}


.description__item {
  width: 320px;
  height: 120px;
  margin: 0 auto;
}


// TABLE min-width: 660px//////////////////////////////////////////////////////

@media (min-width: 660px) {
  .description {
    height: 725px;
  }

  .description__list {
    margin-left: 50%;
  }

  .description__title {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 100px;
      left: -150px;
      z-index: 1;
      background: url("..//img/iphone-screen-3-tablet@1x.png") no-repeat;

      width: 268px;
      height: 481px;
    }
  }

  .description__table {
    display: flex;
  }


} //*min-width: 660px





// DESCTOP min-width: 1200px//////////////////////////////////////////////////////

@media (min-width: 1200px) {
  .description {
    height: 933px;
    display: flex;
    flex-wrap: wrap;
  }

  .description__title {
    position: relative;
    width: 820px;
    margin: 0 auto;
    &::before {
      display: none;
    }
  }

  .description__sub-title {
    width: 820px;
    margin: 0 auto;
  }

  .description__item {
    width: 33%;
  }

  .item__phone-1 {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: -300px;
      left: 0;
      z-index: 1;
      background: url("..//img/iphone-screen-1-desktop@1x.png") no-repeat;
      width: 253px;
      height: 304px;
    }
  }

  .item__phone-2 {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: -300px;
      left: 0;
      z-index: 1;
      background: url("..//img/iphone-screen-2-desktop@1x.png") no-repeat;
      width: 253px;
      height: 304px;
    }
  }

  .item__phone-3 {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: -300px;
      left: 0;
      z-index: 1;
      background: url("..//img/iphone-screen-3-desktop@1x.png") no-repeat;
      width: 253px;
      height: 304px;
    }
  }

  .description__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 500px;
  }

} //*min-width: 1200px
