.filters {
  margin: 0 auto;
  text-align: center;
}

.filters__text {
  font-size: 14px;
  line-height: 30px;
  color: $midnight;
}

.filtes__form {
  margin: 0 auto;
}

// TABLET min-width: 660px //////////////////////////////////////////


@media (min-width: 660px) {
  .filtes__form {
    display: flex;
  }
}
