.footer__logo {
  margin-bottom: 34px;
}


.footer__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 179px;
  margin-bottom: 30px;
}



.footer__item {
  width: 50px;
  height: 50px;
}

.footer__link-twitter {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -25px;
    z-index: 1;
    background: url("..//img/icon-twitter.svg")center no-repeat;
    background-size: 18px 14px;
    width: 50px;
    height: 50px;
    padding: 12px 13px;
    border: 2px solid #e9ebec;
    border-radius: 50px;
    opacity: 1;
  }
}

.footer__link-twitter:active::before {
  opacity: 0.3;
}

.footer__link-twitter:hover::before {
  border-color: #283645;
  transition: 0.2s;
}


.footer__link-facebook {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -25px;
    z-index: 1;
    background: url("..//img/icon-facebook.svg")center no-repeat;
    background-size: 9px 18px;
    width: 50px;
    height: 50px;
    padding: 12px 13px;
    border: 2px solid #e9ebec;
    border-radius: 50px;
    opacity: 1;
  }
}

.footer__link-facebook:active::before {
  opacity: 0.3;
}

.footer__link-facebook:hover::before {
  border-color: #283645;
  transition: 0.2s;
}

.footer__link-youtube {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -25px;
    z-index: 1;
    background: url("..//img/icon-youtube.svg")center no-repeat;
    background-size: 15px 13px;
    width: 50px;
    height: 50px;
    padding: 12px 13px;
    border: 2px solid #e9ebec;
    border-radius: 50px;
    opacity: 1;
  }
}

.footer__link-youtube:active::before {
  opacity: 0.3;
}

.footer__link-youtube:hover::before {
  border-color: #283645;
  transition: 0.2s;
}



.footer__academy {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
}

// TABLE min-width: 660px////////////////////////////////////////////////////

@media (min-width: 660px) {
  .footer {
    padding: 0 20px;
    margin-top: 47px;
    height: 127px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }

  .footer__list {
    display: flex;
    justify-content: space-between;
    width: 183px;
    margin-left: 70px;
  }

  .footer__item {
    width: 50px;
    height: 50px;
  }

  .footer__link-twitter {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -25px;
      z-index: 1;
      background: url("..//img/icon-twitter.svg")center no-repeat;
      background-size: 18px 14px;
      width: 50px;
      height: 50px;
      padding: 12px 13px;
      border: 2px solid #e9ebec;
      border-radius: 50px;
    }
  }

  .footer__link-facebook {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -25px;
      z-index: 1;
      background: url("..//img/icon-facebook.svg")center no-repeat;
      background-size: 9px 18px;
      width: 50px;
      height: 50px;
      padding: 12px 13px;
      border: 2px solid #e9ebec;
      border-radius: 50px;
    }
  }

  .footer__link-youtube {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -25px;
      z-index: 1;
      background: url("..//img/icon-youtube.svg")center no-repeat;
      background-size: 15px 13px;
      width: 50px;
      height: 50px;
      padding: 12px 13px;
      border: 2px solid #e9ebec;
      border-radius: 50px;
    }
  }

  .footer__academy {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    margin-right: 0;
    margin-bottom: 32px;
  }

}//*min-width: 660px



// DESCTOP min-width: 1200px//////////////////////////////////////////

@media (min-width: 1200px) {
  .footer {
    margin-top: 0;
  }

  .footer__list {
    margin-left: 248px;
  }


}//min-width: 1200px
