.form {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.form__bg {
  background: url("..//img/bg-back-mobile@1x.jpg") no-repeat;
  width: 320px;
  height: 170px;
  margin: 0 auto;
}


.form__title {
  font-size: 24px;
  font-weight: 300;
  color: $white;
  margin: 0 auto;
}

.form__title-text {
  font-size: 14px;
  color: $midnight;
  line-height: 30px;
  width: 280px;
  margin: 0 auto;
}

[placeholder] {
  font-size: 18px;
  line-height: 30px;
  color: $midnight;
}

fieldset {
  border: none;
  font-size: 0;
}


// TABLET min-width: 660px /////////////////////////////////////////////

@media (min-width: 660px) {
  .form__bg {
    background: url("..//img/bg-back-tablet@1x.jpg")center no-repeat;
    background-size: 1200px 729px;
    width: 100%;
    height: 440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .form__title-text {
    font-size: 18px;
    width: 495px;
  }

  fieldset {
    border: 2px solid #e5e5e5;
    font-size: 15px;
    border-radius: 3px;
  }

  .checkboxes__legend,
  .radio__legend,
  .user-contacts__legend,
  .comment__legend {
    color: $cerise;
    text-transform: uppercase;
    text-align: center;
  }

  .form__title {
    font-size: 50px;
    line-height: 50px;
    width: 490px;
  }

  .form__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }


}// min-width: 660px

// DESCTOP min-width: 1200px /////////////////////////////////////////////

@media (min-width: 1200px) {
  .form__bg {
    background: url("..//img/bg-back-desktop@1x.jpg")center no-repeat;
    background-size: 2560px 853px;
    width: 100%;
    height: 395px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .form__title {
    font-size: 50px;
    line-height: 50px;
    width: 760px;
  }

  .form__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: inherit;
  }


  .form__title-text {
    width: 765px;
    margin: 0 auto;
  }


}// min-width: 1200px
