.form__bg {
  background: url("..//img/bg-back-mobile@1x.jpg") no-repeat;
  height: 170px;
}

.form__title {
  font-size: 24px;
  font-weight: 300;
  color: $white;
}

.form__title-text {
  font-size: 14px;
  color: $midnight;
  line-height: 30px;
}

.full-name__name {
  font-size: 14px;
  color: $cerise;
  line-height: 30px;
  text-transform: uppercase;
}

[placeholder] {
  font-size: 18px;
  line-height: 30px;
  color: $midnight;
}
