.gallery__bg {
  background: url("..//img/bg-back-mobile@1x.jpg") no-repeat;
  height: 500px;
}

.gallery__title {
  font-size: 24px;
  font-weight: 300;
  color: $white;
}

.gallery__sub-title {
  font-size: 14px;
  line-height: 30px;
  color: $midnight;
}

.gallery-item {
  list-style: none;
}

.gallery-item__user-name {
  font-size: 14px;
  font-weight: 700;
  color: $midnight;
}

.gallery-item__text {
  font-size: 14px;
  color: $midnight;
}

.gallery-item__like {
  font-size: 12px;
  color: $cerise;
  text-transform: uppercase;
  border: none;
  list-style: none;
  background: none;
  cursor: pointer;
}
