.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
}

.main-nav__item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid $black;
}


@media (min-width: 1200px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    min-width: 630px;
    flex-wrap: wrap;
  }
  .main-nav__item {
    border: none;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    width: 630px;
  }
}
