.main-title__bg {
  background: url("../img/bg-back-mobile@1x.jpg")center no-repeat;
  min-width: 320px;
  height: 395px;
}

@media (min-width: 660px) {
  .main-title__bg {
    background: url("..//img/bg-back-tablet@1x.jpg")center no-repeat;
    width: 100%;
    height: 620px;
  }
  .main-title {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .main-title__bg {
    background: url("../img/bg-back-desktop@1x.jpg")center no-repeat;
    width: 100%;
    min-height: 853px;

  }
}

.main-title__title {
  padding-top: 25px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  color: $white;
  width: 225px;
  text-align: center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: url("..//img/iphone-hand-mobile@1x.png") center no-repeat;
    background-size: 256px 290px;
    top: 105px;
    left: -48px;
    z-index: 1;
    width: 256px;
    height: 290px;
  }
}

@media (min-width: 660px) {
  .main-title__title {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background: url("..//img/iphone-hand-tablet@1x.png") center no-repeat 470px 545px;
      background-size: 470px 545px;
      top: 75px;
      left: 0;
      z-index: 1;
      width: 470px;
      height: 545px;
    }
  }
}

@media (min-width: 1200px) {
  .main-title__title {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background: url("..//img/iphone-hand-desktop@1x.png") center no-repeat 556px 644px;
      background-size: 556px 644px;
      top: 209px;
      left: 0;
      z-index: 1;
      width: 556px;
      height: 644px;
    }
  }
}
