.price {
  margin-bottom: 148px;
}

.price__value-desctop {
  display: none;
}

.price__cell-desctop {
  display: none;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.price__list {
  margin: 0 auto;
  margin-left: -260px;
  width: 840px;
  border-collapse:collapse;
}

.price__item {
  width: 280px;
}


.price__value {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  line-height: 30px;
  background-color: $midnight;
  width: 250px;
  height: 99px;
  padding: 0 75px;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  span {
    font-size: 24px;
    font-weight: 300;
  }
}

.price__cell {
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $midnight;
  width: 150px;
  height: 60px;
  padding-left: 23px;
  border: 2px solid #e5e5e5;
}

.price__cell-yes {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 19px;
    left: 229px;
    z-index: 1;
    background: url("..//img/icon-yes.svg")center no-repeat;
    background-size: 31px 21px;
    width: 31px;
    height: 21px;
  }
}

.price__cell-no {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 16px;
    left: 231px;
    z-index: 1;
    background: url("..//img/icon-no.svg")center no-repeat;
    background-size: 27px 26px;
    width: 27px;
    height: 26px;
  }
}


// TABLET min-width: 660px/////////////////////////////////////////

@media (min-width: 660px) {

  .price {
    margin-bottom: 115px;
  }

  .price__value-desctop {
    display: initial;
    border-left: none;
    border-right: none;
  }


  .price__list {
    padding: 0;
    margin: 0 auto;
    width: 620px;
  }


  .price__item {
    width: 155px;
  }


  .price__cell {
    width: 155px;
    height: 46px;
    padding: 0;
  }

  .price__value {
    width: 155px;
    height: 79px;
    padding: 0;
  }

  .price__cell-text {
    display: none;
  }

  .price__cell-desctop {
    display: initial;
    width: 155px;
    font-size: 14px;
    padding: 0;
  }


.price__cell-yes {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 15px;
    left: 60px;
    z-index: 1;
    background: url("..//img/icon-yes.svg")center no-repeat;
    background-size: 31px 21px;
    width: 31px;
    height: 21px;
  }
}

.price__cell-no {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 15px;
    left: 60px;
    z-index: 1;
    background: url("..//img/icon-no.svg")center no-repeat;
    background-size: 27px 26px;
    width: 27px;
    height: 26px;
  }
}


}//min-width: 660px



// DESCTOP min-width: 1200px/////////////////////////////////////////

@media (min-width: 1200px) {

  .price__list {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 47px;
  }

  .price__value {
    width: 236px;
    height: 100px;

  }

  .price__cell {
    width: 236px;
    height: 60px;
  }

  .price__cell-yes {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 20px;
      left: 105px;
      z-index: 1;
      background: url("..//img/icon-yes.svg")center no-repeat;
      background-size: 31px 21px;
      width: 31px;
      height: 21px;
    }
  }

  .price__cell-no {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 16px;
      left: 107px;
      z-index: 1;
      background: url("..//img/icon-no.svg")center no-repeat;
      background-size: 27px 26px;
      width: 27px;
      height: 26px;
    }
  }

}//min-width: 1200px
