.price__list {
  margin: 0 auto;
}

.price__value {
  font-size: 18px;
  font-weight: 700;
  color: $white;
  line-height: 30px;
  background-color: $midnight;
  span {
    font-size: 24px;
    font-weight: 300;
  }
}

.price__cell {
  font-size: 14px;
  color: $midnight;
}
