.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 208px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.crop {
  border: none;
  background: url("..//img/icon-editor-crop.svg");
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.active {
  background: url("..//img/icon-editor-crop-active.svg");
}

.fill {
  border: none;
  background: url("..//img/icon-editor-fill.svg")center no-repeat;
  width: 48px;
  height: 43px;
  cursor: pointer;
}

.contrast {
  border: none;
  background: url("..//img/icon-editor-contrast.svg")center no-repeat;
  padding-right: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}


// TABLET min-width: 660px////////////////////////////////

@media (min-width: 660px) {

  .tools {
    display: none;
  }

}//min-width: 660px
