.user-contacts__text {
  font-size: 14px;
  text-transform: uppercase;
  color: $cerise;
  line-height: 30px;
}

.user-contacts__size {
  width: 280px;
  height: 59px;
}


// TABLET min-width: 660px /////////////////////////////////////////////

@media (min-width: 660px) {

  .user-contacts {
    order: 3;
  }

}//min-width: 660px


// DESCTOP min-width: 1200px /////////////////////////////////////////////

@media (min-width: 1200px) {

  .user-contacts {
    width: 940px;
  }





}//min-width: 1200px
