.user-contacts {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;
}

.user-contacts__text {
  font-size: 14px;
  text-transform: uppercase;
  color: $cerise;
  line-height: 30px;
  padding-left: 21px;
  letter-spacing: 0.02em;
}

.user-contacts__size {
  width: 280px;
  height: 59px;
  letter-spacing: 0.02em;
}

.user-contacts__size[placeholder] {
  padding-left: 15px;
}

.user-block {
  text-align: left;
  margin-bottom: 24px;
}


// TABLET min-width: 660px /////////////////////////////////////////////

@media (min-width: 660px) {

  .user-contacts {
    order: 3;
    width: 620px;
    height: 325px;
    margin-bottom: 50px;
  }

  .user-contacts__fieldset {
    border: 2px solid #e5e5e5;
    font-size: 15px;
    border-radius: 3px;
    height: 322px;
  }

  .user-block {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-left: 47px;
}

  .user-contacts__text {
    width: 160px;
    order: 2;
    margin-top: 10px;
    padding-left: 17px;
  }

  .user-contacts__size {
    width: 500px;
    order: 1;
  }

}//min-width: 660px


// DESCTOP min-width: 1200px /////////////////////////////////////////////

@media (min-width: 1200px) {

  .user-contacts {
    width: 940px;
    height: 200px;
    margin-bottom: 29px;
  }

  .user-contacts__size {
    width: 375px;
  }

  .user-block {
    width: 375px;
  }

.user__flex {
  display: flex;
  margin: 0 auto;
  height: 159px;
}

.user-contacts__fieldset {
  width: 940px;
  height: 177px;
}



}//min-width: 1200px
